<p id="notice"><%= notice %></p>
<h1>Todos</h1>

  <div class="row">
    <% @user.pendings.each_slice(3) do |row| %>
    <% row.each do |pending| %>
      <div class="col">
      <div class="card">
        <%= image_tag pending.todo.picture, class: 'card-img-top' %>
          <div class="body">
            <h5> <%= link_to pending.todo.description, todo_path(pending.todo) %></h5>
          </div>

          <% if pending.done? %>
          <button type="button" class="btn btn-outline-success"><%= link_to 'Lista', pending_path(pending.id), method: :patch %></button>
          <% else %>
          <button type="button" class="btn btn-outline-danger"><%= link_to 'Pendiente', pending_path(pending.id), method: :patch %></button>
          <% end %>

        </div>
      </div>

    <% end %>
        <div class="w-100" style="margin-top:50px"></div>
      <% end %>
      </div>
